h2{
    color: #e4aeae;
}
p{
    color: aqua;
    text-align: center;
    background-color: skyblue;
}
.title{
    color: wheat;
    text-align: right;
    font-size: 70px;
}
body{
    background-image: url("pic1.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    /* ใช้ fix จะอยู่กับที่  scroll จะเลื่อนตามที่เลื่อน*/
    background-attachment: fixed; 
}
#teacher{
    font-size: 90px;
    color: sandybrown;
    text-align: center;
    background-color: rgb(226, 255, 245);
    padding: 100px;
}
p.error{ /*หลังจุดคือclass*/
    color: azure;
    font-size: 20px;
    font-weight: bold;
}
p.success{
    color: royalblue;
    font-size: 20px;
    font-weight: bolder;
}
div{
    width: 200px;
    height: 100px;
    float: left;
}
#box{
    background-color: rgb(44, 199, 39);
}
#box2{
    background-color: rgb(199,39,39);
}
#box3{
    background-color: cornflowerblue;
}
#box4{
    background-color: rgb(243, 170, 231);
}
#box5{
    background-color: rgb(16, 46, 100);
}
.nav{
    background-color: yellow;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    clear: left;
}
.nav li{
    display: inline-block;

    padding: 30px;
}
img{
    border-radius: 50%;
    width: 200px;
    height: 300px;
    object-fit: fill;
    opacity: 0.7;
}
div.hover{
    width: 100px;
    height: 100px;
    background: rgb(216, 142, 142);
    transition: width 2s;
}
div.hover:hover{
    width: 300px;
}
.button{
    background-color: blue;
    color: wheat;
    border: none;
    padding: 15px;
    cursor: pointer;
}